/*CSS pour les éléments principaux de l'application : ex header, footer, navigation*/

/*centrage de tous les composants*/
.App {
  text-align: center; 
}

/*modification de la couleur de la navbar*/
.custom-navbar {
  background-color: #25402B;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #25402B;
} 

.nav-link {
  color:black;
}

.nav-link :after {
  color:black;
}

.nav {
  --bs-nav-link-hover-color: #25402B;
}
